# Node modules
node_modules/

# TypeScript source files
src/

# Editor and IDE files
.vscode/
.idea/

# Configuration files
*.config.js

# Documentation
docs/

# Environment variables file
.env

tsconfig.json
tsup.config.ts